<!-- Footer -->
<footer
	class="bg-dark text-center text-white">
	<!-- Grid container -->
	<div
		class="container p-4">
		<!-- Section: Social media -->
		<section
			class="mb-4">
			<!-- Facebook -->
			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
				<i class="bi bi-facebook"></i>
			</a>

			<!-- Twitter -->
			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
				<i class="bi bi-twitter"></i>
			</a>

			<!-- Google -->
			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
				<i class="bi bi-google"></i>
			</a>

			<!-- Instagram -->
			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
				<i class="bi bi-instagram"></i>
			</a>

			<!-- Linkedin -->
			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
				<i class="bi bi-linkedin"></i>
			</a>

			<!-- Github -->
			<a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
				<i class="bi bi-github"></i>
			</a>
		</section>
		<!-- Section: Social media -->


		<section
			class="">
			<!--Grid row-->
			<div
				class="row">
				<!--Grid column-->
				<div class="col-12">

					<ul class="list-unstyled mb-0">
						<li>
							<a href="#!" class="text-white">Politique de confidentialité</a>
						</li>
						<li>
							<a href="#!" class="text-white">A propos</a>
						</li>
						<li>
							<a href="#!" class="text-white">Contact</a>
						</li>
						<li>
							<a href="#!" class="text-white">Avertissements</a>
						</li>
					</ul>
				</div>
				<!--Grid column-->
				<!--Grid column-->
			</div>
			<!--Grid row-->
		</section>
		<!-- Section: Links -->
	</div>
	<!-- Grid container -->

	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2022 Copyright:
		<a class="text-white" href="https://mdbootstrap.com/">Snowtricks</a>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->
