{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}

	<section class="login-page">
		<div class="row">
			<div class="col-12 text-center">

				<h1>Nouveau mot de passe</h1>
			</div>
			<div class="card col-md-10 col-8 mx-auto text-center login-card">
				{{ form_start(passForm)}}<br>
				{{ form_row(passForm.password)}}<br>
				<button type="submit" class="btn btn-primary btn-lg">Réinitialiser</button><br>
				{{ form_end(passForm)}}<br>
			</div>
		</div>
	</section>
{% endblock %}
