{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<section class="login-page">
		<div class="row">
			<div class="col-12 text-center">

				<br><br><h1>Mot de passe oublié</h1><br>
			</div>
			<div class=" card col-md-4 col-8 mx-auto text-center login-card">
				{{ form_start(requestPassForm)}}<br>
				{{ form_row(requestPassForm.email)}}<br>
				<button type="submit" class="btn btn-primary btn-lg">Réinitialiser</button><br>
				{{ form_end(requestPassForm)}}<br>
			</div>
		</div>
	</section>
{% endblock %}
